.container{
    width: 100%;
    height: 215px;
    border: 2px solid red;
    background-color: yellow;
}
.box{
    height: 212px;
    width: 212px;
    border: 2px solid green;
    background-color: aqua;

    animation-name: urvi;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 1s;
    /* animation-direction: reverse; */
    animation-fill-mode: backwards;
}
@keyframes urvi{
    0%{
width: 212px;
background-color: aqua;
    }
    30%{
width: 35%;
background-color: aquamarine;
    }
    65%{
width: 70%;
background-color: hotpink;
    }
    100%{
width: 100%;
background-color: blueviolet;
    }
}
/* @keyframes urvi{
    from{
width: 212px;
    }
    to{
width: 800px;
    }
} */